<!-- Default panel contents -->
<div class="row">
	<form class="form-inline">
		<div class="col col-sm-3 form-group">
			<label class="control-label" for="typeSelect">Seleccione un tipo.</label>
			<select required id="typeSelect" placeholder="Seleccione un tipo de TODO" ng-model="todo.type" class="form-control" ng-options="type as type.desc for type in todoTypes">
			</select>
		</div>
		<div class="col col-sm-9 form-group">
			<div class="input-group">
				<label for="inputTodo" class="input-group-addon"> Ingrese un TODO
				</label>
				<input ng-required id="inputTodo" class="form-control" type="text" ng-model="todo.text" placeholder="escribi algo">
				<div class="input-group-btn">
					
					<button ng-click="add()" type="submit" class="btn btn-primary pull-right">TODO</button>
				</div>
			</div>
		</div>
	</form>
</div>
<hr/>
<!-- List group -->
<div class="row">
	<div class="col-sm-12">
		<ul class="list-group">
			<li ng-repeat="todo in todos" class="list-group-item view-frame">
				<div class="input-group">
					<p class="form-control-static">{{todo.text}}</p>
					<div class="input-group-btn">
						
						<button type="button" class="btn btn-danger" ng-click="delete(todo)"><i class="glyphicon glyphicon-remove"></i></button>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>